* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* body */

body {
    background: linear-gradient(229deg, black, #194387);
    font-family: sans-serif;
    background-attachment: fixed;
    /* background: #143569; */
}

    /* a == link */

a {
    text-decoration: none;
    color: #143569;
    /* color: #AD1457; */
    /* color: #006064; */
}

    /* ul == unorder_list */

ul {
    list-style: none;
}

.mar {
    margin: 5px;
}

    /* Start_header */

header {
    /* background: #153E7E; */
    display: flex;
    color: white;
    height: 100vh;
    
}

        /* Start_navbar */

.navbar {
    /* background: #143569; */
    background-color: rgb(255, 255, 255);
    background-size: contain;
    position: fixed;
    width: 100%;
    padding: 1.5rem 2rem;
    color: #143569;
}

#home #logo {
    font-weight: 600;
    font-size: 24px;
}

.navbar nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar nav ul a {
    margin: 0 15px;
    font-weight: 600;
}

        /* End_navbar */

        /* Start_(header-content) */

.header-content {
    /*  */
    /* background: linear-gradient(45deg, black, transparent); */
    /* background: linear-gradient(303deg, #8b1f44, #19756c); */
    display: grid; 
    max-width: 1080px;
    grid-template-columns: 1.5fr 2fr; /*  */
    margin: auto;
    height: 100%;
    align-items: center;
    /* border-bottom: 3px solid #eee; */
    padding: 0rem 2rem;
    justify-content: space-between;
    gap: 50px;
}

.header-content img {
    width: 350px;
    height: 350px;
    border-radius: 30%;
    margin: 80px;
}

/* .header-text */

.header-text {
    margin: auto;
}

/* مشان المسافة */

.header-text p {
    /* text-align: center; */
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin: auto;
}

.header-text h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    /* background-size: 200%; */
    /* background-clip: text; */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* background: linear-gradient(2deg, #006064, #069aa7); */
}

        /* End_(header-content) */

    /* End_header */

    /* Start_section_Menue */

#menu {
    /* background: #153E7E; */
    /* border-top: 3px solid #eee; */
    color: white;
    padding: 5rem 2rem;
    /* border-bottom: 3px solid #eee; */
}

#menu .title h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

#menu .title {
    text-align: center;
    margin-bottom: 4rem;
    color: #fff;
}

#menu .menu-items {
    display: flex;
    justify-content: center;
}

#menu .menu-items .menu-item {
    display: flex;
    justify-content: center;
    margin: 40px;
}

#menu .menu-items .menu-item img {
    width: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

#menu .menu-items .menu-item h3 {
    color: white;
    padding-bottom: 10px;
    position: relative;
}

#menu .menu-items .menu-item p {
    margin-top: 10px;
}

    /* End_section_Menue */

    /* Start_section_Contact */

.btn {
    display: block;
    height: 40px;
    width: 100px;
    margin: auto;
    border: none;
    margin-top: 30px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 7px;
}

#Contact {
    /* background: #153E7E; */
    padding: 5rem;
    color: #fff;
}

#Contact .contact {
    display: flex;
    justify-content: center; 
    align-items: center;
}

        /* Start_form */

input {
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    background-color: #e3e2dd;
}

        /* End_form */

    /* End_ection_Contact */

    /* Start_footer */

#footer {
    /* background: #153E7E;; */
    text-align: center;
    color: #fff;
    padding: 15px;
    font-size: 14px;
    border-top: 3px solid #eee;  /* الخط فوق */
}

    /* End_footer */
